<!DOCTYPE html>
<html>

<body>
<a href={{generateURL}}>
Authenticate with Etsy
</a>
<p>
<a href={{receiptURL}}>
Show all receipts
</a>

<p>
<a href={{articleURL}}>
Show all ordered articles
</a>
</body>

</html>
