<!DOCTYPE html>
<html lang="en">
    <body>
        <h1>Welcome, {{first_name}}!</h1>

        <p>
        <a href={{receiptURL}}>
         Show all Receipts</a></p>
         <p>
          <a href={{articleURL}}>
          Show all ordered articles</a></p>
    </body>
</html>
